.row{
    margin-left: 20px;
    color: white;

}

.row-posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row-posters::-webkit-scrollbar{
    display: none;
}

.row-poster-container{
    margin-right: 10px;
    max-height: 300px;
    width: 100%;
    object-fit: contain;
}

.row-poster-container:hover > .hidden-div{
    display: flex;
    align-items: center;
}

.row-poster-container.row-posterLarge{
    margin-right: 10px;
    max-height: 450px;
    width: 100%;
    object-fit: contain;
}

.row-poster-container.row-posterLarge:hover > .hidden-div{
    display: flex;
    align-items: center;
}

.row-poster{
    max-height: 100px;
    transition: transform 450ms;
}

.row-poster:hover{
    transform: scale(1.08);
}

.row-posterLarge{
    max-height: 250px;
    transition: transform 450ms;
}

.row-posterLarge:hover{
    transform: scale(1.05);
}

.movie-wrap{
    margin-right: 5px;
}

.row-title{
    margin-top: 10px;
}

.hidden-div{
    display: none;
}

.add-movie-btn{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid grey;
    cursor: pointer;
    color: grey;
    height: 10vw;
    width: 10vw;
    margin-top: 10px;
    max-height: 25px;
    max-width: 25px;
    min-height: 10px;
    min-width: 10px;
    border-radius: 50%;
    font-size: 10px;
}

.add-to-movies-text{
    color: white;
    font-size: 1rem;
    margin-top: 10px;
    /* margin-left: 10px; */
    text-align: center;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
    stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%, 100% {
    transform: none;
    }
    50% {
    transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill {
    100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}
