.row-posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row-posters::-webkit-scrollbar{
    display: none;
}

.row-poster{
    max-height: 100px;
    width: 100%;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms;
}

.row-poster:hover{
    transform: scale(1.08);
}

.row-posterLarge{
    max-height: 250px;
}

.row-posterLarge:hover{
    transform: scale(1.09);
}

/* #channelDropDown{
    appearance: none;
    background-image: url(../../imgs/plus-symbol.svg);
} */
