* {
    margin: 0;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    /* overflow-x: hidden; */
}

ul{
    list-style-type: none;
}

a{
    background-color: transparent;
    text-decoration: none;
}

.app{
    background-color: #111;
}

.errorList {
    display: flex;
    color: red;
    flex-direction: column;
    padding: 10px;
    border: 1px solid red;
    border-radius: 2px;
    margin: 10px 0;
    background-color: rgb(0, 0, 0);
}

.hideErrorList {
    display: none;
}
