.profiles-wrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whos-watching{
    color: #fff;
    cursor: default;
    font-size: 3.5vw;
    font-weight: unset;
    line-height: 80.64px;
    margin: .67em 0;
    opacity: 1;
    text-align: center;
    transition: opacity .4s ease-out;
    width: 100%;
}

.choose-profile{
    display: flex;
}
.choose-profile > :not(:nth-last-child(1)){
    margin-right: 30px;
}

.profile{
    display: flex;
    flex-direction: column;
}

.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}

.profile-icon{
    background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));
    background-color: #333;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    border-color: #e5e5e5;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    height: 10vw;
    line-height: 17.28px;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 10vw;
}

.profile-icon:hover{
    border: 3px solid #ffffff;
}

.profile-icon::after{
    border: .3rem solid #e5e5e5;
    border-radius: 4px;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.profile-name{
    color: #e5e5e5;
    cursor: pointer;
    display: block;
    font-size: 24px;
    line-height: 1.2em;
    margin: .6em 0;
    min-height: 1.8em;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.manage-profiles-button{
    display: block;
    text-decoration: none;
    margin: 2em 0 1em 0;
    font-size: 1.0vw;
    border: 1px solid grey;
    color: grey;
    padding: 0.5em 1.5em;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: transparent;
}

.manage-profiles-button:hover{
    border: 1px solid white;
    color: white;
}

.manage-profiles-button:active{
    border: 2px solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
}

.add-profile-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}

.add-profile-button{
    background-color: transparent;
    border: 2px solid grey;
    cursor: pointer;
    color: grey;
    height: 10vw;
    width: 10vw;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    border-radius: 50%;
    font-size: 72px;
}

.add-profile-button:hover{
    border: 2px solid white;
    color: white;
}

.add-profile-button:active{
    border: 2px solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
}
