.nav-bar {
  z-index: 100;
  display: flex;
  position: fixed;
  width: 100%;
  height: 30px;
  padding: 20px;
  top: 0;
  justify-content: space-between;
  align-items: center;

  /* Animation */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav-bar-black{
  background-color: #111;
}

.netflix-logo{
  position: fixed;
  left: 20px;
  width: 120px;
  object-fit: contain;
}

.outer-img{
  overflow:hidden
}

.nav-profile-icon{
  background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));
  position: fixed;
  right: 30px;
  width: 30px;
  z-index: 111;
}

.current-profile-dropdown-icon{
  display: flex;
  object-fit: contain;
  align-items: center;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 14.4px;
  width: 100%;
}

.nav-bar > img {
  cursor: pointer;
}

.profile-dropdown-wrapper{
  position: relative;

}

.profile-dropdown-btns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.profile-dropdown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: default;
  font-size: 13px;
  height: auto;
  line-height: 21px;
  margin: 25px 0;
  overflow: hidden;
  padding: 10px 0 5px;
  width: 15vw;
}

.dropdown-profile-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  width: 50px;
}

.dropdown-profile-icon{
  cursor: pointer;
  background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));
  width: 40px;
  height: 40px;
  border-radius: 2px;
}

.dropdown-profile-icon:hover{
  border: 1px solid #ffffff;
}

.dropdown-profile-name{
  margin-top: 3px;
}

.manage-profiles-button.dropdown{
  font-size: 0.7vw;
  text-align: center;
  margin: 1em 0;
  width: 60%;
}

.log-out-btn{
  display: flex;
  align-self: center;
  background-color: transparent;
  border: 1px solid gray;
  color: gray;
  cursor: pointer;
  font-size: 0.7vw;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 17.28px;
  margin: 1em 0;
  overflow: visible;
  padding: .5em 1.5em;
  text-align: center;
  text-transform: none;
}

.log-out-btn:hover{
  border-color: #fff;
  color: #fff;
}

.log-out-btn:focus{
  border-color: #fff;
  color: #fff;
}
