.netflixLogo{
  width: 100px;
  height: 100px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 10px 15px -8px #eeeded;
  height: 90px;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #EEEEEE;
}

.bnbLogo {
  object-fit: contain;
  height: 80px;
  margin-left: 20px;
}

.magnifyGlassIcon {
  padding: 0px 10px;
}

.searchBar {
  width: 15%;
}

.middleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.leftContainer {
  display: flex;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  padding: 20px 0px;
}

.rightContainer > p {
  padding: 0px 20px;
}

.sessionLinks {
  display: flex;
}


.sessionLinks > * {
  display: flex;
  margin: 10px;
  align-self: center;
}

.profileButton {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 0px 10px;
  background-color: grey;
  border-radius: 25px;
  margin: 7px;
  box-shadow: 3px 3px 5px rgb(177, 177, 177);
}

.profileButton > i {
  font-size: 20px;

}

.profileButton > * {
  padding: 5px;
}

.profile-dropdown {
  display: flex;
  position: fixed;
  color: white;
  top: 75px;
  right: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  border-radius: 15px;
  background-color: rgba(31, 31, 31, 0.973);
}

.profile-dropdown > * {
  padding: 5px 0px;
}

.logoutButton {
  padding: 5px 15px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #bc1e2b;
  color: white;
}
