.formContainer {
    display: flex;
    justify-content: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#buttonCard {
    padding: 5px 9px;
    cursor: pointer;
    font-weight: 800;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: rgb(0, 0, 0);
}

#buttonCard:active {
    background-color: white;
    color:black;
    border: 1px solid black;
}
